.primary-text {
  color: #000;
}
.primary-text-hov {
  color: #000;
}
.secondary-text {
  color: #000;
}
.secondary-text-hov {
  color: #000;
}
.tertiary-text {
  color: #000;
}
.aux-text {
  color: #000;
}
.primary {
  background-color: #000;
}
.primary-hov {
  background-color: #000;
}
.secondary {
  background-color: #000;
}
.secondary-hov {
  background-color: #000;
}
.tertiary {
  background-color: #000;
}
.aux {
  background-color: #000;
}