/* float */
.f-right {
  float: right;
}
.f-left {
  float: left;
}
.f-none {
  float: none;
}
/* margin-top */
.mt-0 {
  margin-top: 0px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-60 {
  margin-top: 60px;
}
.mt-80 {
  margin-top: 80px;
}
.mt-100 {
  margin-top: 100px;
}
.mt-120 {
  margin-top: 120px;
}
.mt-140 {
  margin-top: 140px;
}
.mt-160 {
  margin-top: 160px;
}
.mt-180 {
  margin-top: 180px;
}
.mt-200 {
  margin-top: 200px;
}
/* margin-right */
.mr-0 {
  margin-right: 0px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-40 {
  margin-right: 40px;
}
.mr-60 {
  margin-right: 60px;
}
.mr-80 {
  margin-right: 80px;
}
.mr-100 {
  margin-right: 100px;
}
.mr-120 {
  margin-right: 120px;
}
.mr-140 {
  margin-right: 140px;
}
.mr-160 {
  margin-right: 160px;
}
.mr-180 {
  margin-right: 180px;
}
.mr-200 {
  margin-right: 200px;
}
/* margin-bottom */
.mb-0 {
  margin-bottom: 0px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-60 {
  margin-bottom: 60px;
}
.mb-80 {
  margin-bottom: 80px;
}
.mb-100 {
  margin-bottom: 100px;
}
.mb-120 {
  margin-bottom: 120px;
}
.mb-140 {
  margin-bottom: 140px;
}
.mb-160 {
  margin-bottom: 160px;
}
.mb-180 {
  margin-bottom: 180px;
}
.mb-200 {
  margin-bottom: 200px;
}
/* margin-left */
.ml-0 {
  margin-left: 0px;
}
.ml-20 {
  margin-left: 20px;
}
.ml-40 {
  margin-left: 40px;
}
.ml-60 {
  margin-left: 60px;
}
.ml-80 {
  margin-left: 80px;
}
.ml-100 {
  margin-left: 100px;
}
.ml-120 {
  margin-left: 120px;
}
.ml-140 {
  margin-left: 140px;
}
.ml-160 {
  margin-left: 160px;
}
.ml-180 {
  margin-left: 180px;
}
.ml-200 {
  margin-left: 200px;
}
/* margin-x */
.mx-0 {
  margin-left: 0px;
  margin-right: 0px;
}
.mx-20 {
  margin-left: 20px;
  margin-right: 20px;
}
.mx-40 {
  margin-left: 40px;
  margin-right: 40px;
}
.mx-60 {
  margin-left: 60px;
  margin-right: 60px;
}
.mx-80 {
  margin-left: 80px;
  margin-right: 80px;
}
.mx-100 {
  margin-left: 100px;
  margin-right: 100px;
}
.mx-120 {
  margin-left: 120px;
  margin-right: 120px;
}
.mx-140 {
  margin-left: 140px;
  margin-right: 140px;
}
.mx-160 {
  margin-left: 160px;
  margin-right: 160px;
}
.mx-180 {
  margin-left: 180px;
  margin-right: 180px;
}
.mx-200 {
  margin-left: 200px;
  margin-right: 200px;
}
/* margin-y */
.my-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.my-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}
.my-60 {
  margin-top: 60px;
  margin-bottom: 60px;
}
.my-80 {
  margin-top: 80px;
  margin-bottom: 80px;
}
.my-100 {
  margin-top: 100px;
  margin-bottom: 100px;
}
.my-120 {
  margin-top: 120px;
  margin-bottom: 120px;
}
.my-140 {
  margin-top: 140px;
  margin-bottom: 140px;
}
.my-160 {
  margin-top: 160px;
  margin-bottom: 160px;
}
.my-180 {
  margin-top: 180px;
  margin-bottom: 180px;
}
.my-200 {
  margin-top: 200px;
  margin-bottom: 200px;
}
/* padding-top */
.pt-0 {
  padding-top: 0px;
}
.pt-20 {
  padding-top: 20px;
}
.pt-40 {
  padding-top: 40px;
}
.pt-60 {
  padding-top: 60px;
}
.pt-80 {
  padding-top: 80px;
}
.pt-100 {
  padding-top: 100px;
}
.pt-120 {
  padding-top: 120px;
}
.pt-140 {
  padding-top: 140px;
}
.pt-160 {
  padding-top: 160px;
}
.pt-180 {
  padding-top: 180px;
}
.pt-200 {
  padding-top: 200px;
}
/* padding-right */
.pr-0 {
  padding-right: 0px;
}
.pr-20 {
  padding-right: 20px;
}
.pr-40 {
  padding-right: 40px;
}
.pr-60 {
  padding-right: 60px;
}
.pr-80 {
  padding-right: 80px;
}
.pr-100 {
  padding-right: 100px;
}
.pr-120 {
  padding-right: 120px;
}
.pr-140 {
  padding-right: 140px;
}
.pr-160 {
  padding-right: 160px;
}
.pr-180 {
  padding-right: 180px;
}
.pr-200 {
  padding-right: 200px;
}
/* padding-bottom */
.pb-0 {
  padding-bottom: 0px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pb-40 {
  padding-bottom: 40px;
}
.pb-60 {
  padding-bottom: 60px;
}
.pb-80 {
  padding-bottom: 80px;
}
.pb-100 {
  padding-bottom: 100px;
}
.pb-120 {
  padding-bottom: 120px;
}
.pb-140 {
  padding-bottom: 140px;
}
.pb-160 {
  padding-bottom: 160px;
}
.pb-180 {
  padding-bottom: 180px;
}
.pb-200 {
  padding-bottom: 200px;
}
/* padding-left */
.pl-0 {
  padding-left: 0px;
}
.pl-20 {
  padding-left: 20px;
}
.pl-40 {
  padding-left: 40px;
}
.pl-60 {
  padding-left: 60px;
}
.pl-80 {
  padding-left: 80px;
}
.pl-100 {
  padding-left: 100px;
}
.pl-120 {
  padding-left: 120px;
}
.pl-140 {
  padding-left: 140px;
}
.pl-160 {
  padding-left: 160px;
}
.pl-180 {
  padding-left: 180px;
}
.pl-200 {
  padding-left: 200px;
}
/* padding-x */
.px-0 {
  padding-left: 0px;
  padding-right: 0px;
}
.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.px-40 {
  padding-left: 40px;
  padding-right: 40px;
}
.px-60 {
  padding-left: 60px;
  padding-right: 60px;
}
.px-80 {
  padding-left: 80px;
  padding-right: 80px;
}
.px-100 {
  padding-left: 100px;
  padding-right: 100px;
}
.px-120 {
  padding-left: 120px;
  padding-right: 120px;
}
.px-140 {
  padding-left: 140px;
  padding-right: 140px;
}
.px-160 {
  padding-left: 160px;
  padding-right: 160px;
}
.px-180 {
  padding-left: 180px;
  padding-right: 180px;
}
.px-200 {
  padding-left: 200px;
  padding-right: 200px;
}
/* padding-y */
.py-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}
.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.py-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}
.py-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.py-120 {
  padding-top: 120px;
  padding-bottom: 120px;
}
.py-140 {
  padding-top: 140px;
  padding-bottom: 140px;
}
.py-160 {
  padding-top: 160px;
  padding-bottom: 160px;
}
.py-180 {
  padding-top: 180px;
  padding-bottom: 180px;
}
.py-200 {
  padding-top: 200px;
  padding-bottom: 200px;
}
/* ----------------- Mobile ----------------- */
@media (max-width: 768px) {
  /* float */
  .mob-f-right {
    float: right;
  }
  .mob-f-left {
    float: left;
  }
  .mob-f-none {
    float: none;
  }
  /* margin-top */
  .mob-mt-0 {
    margin-top: 0px;
  }
  .mob-mt-20 {
    margin-top: 20px;
  }
  .mob-mt-40 {
    margin-top: 40px;
  }
  .mob-mt-60 {
    margin-top: 60px;
  }
  .mob-mt-80 {
    margin-top: 80px;
  }
  .mob-mt-100 {
    margin-top: 100px;
  }
  .mob-mt-120 {
    margin-top: 120px;
  }
  .mob-mt-140 {
    margin-top: 140px;
  }
  .mob-mt-160 {
    margin-top: 160px;
  }
  .mob-mt-180 {
    margin-top: 180px;
  }
  .mob-mt-200 {
    margin-top: 200px;
  }
  /* margin-right */
  .mob-mr-0 {
    margin-right: 0px;
  }
  .mob-mr-20 {
    margin-right: 20px;
  }
  .mob-mr-40 {
    margin-right: 40px;
  }
  .mob-mr-60 {
    margin-right: 60px;
  }
  .mob-mr-80 {
    margin-right: 80px;
  }
  .mob-mr-100 {
    margin-right: 100px;
  }
  .mob-mr-120 {
    margin-right: 120px;
  }
  .mob-mr-140 {
    margin-right: 140px;
  }
  .mob-mr-160 {
    margin-right: 160px;
  }
  .mob-mr-180 {
    margin-right: 180px;
  }
  .mob-mr-200 {
    margin-right: 200px;
  }
  /* margin-bottom */
  .mob-mb-0 {
    margin-bottom: 0px;
  }
  .mob-mb-20 {
    margin-bottom: 20px;
  }
  .mob-mb-40 {
    margin-bottom: 40px;
  }
  .mob-mb-60 {
    margin-bottom: 60px;
  }
  .mob-mb-80 {
    margin-bottom: 80px;
  }
  .mob-mb-100 {
    margin-bottom: 100px;
  }
  .mob-mb-120 {
    margin-bottom: 120px;
  }
  .mob-mb-140 {
    margin-bottom: 140px;
  }
  .mob-mb-160 {
    margin-bottom: 160px;
  }
  .mob-mb-180 {
    margin-bottom: 180px;
  }
  .mob-mb-200 {
    margin-bottom: 200px;
  }
  /* margin-left */
  .mob-ml-0 {
    margin-left: 0px;
  }
  .mob-ml-20 {
    margin-left: 20px;
  }
  .mob-ml-40 {
    margin-left: 40px;
  }
  .mob-ml-60 {
    margin-left: 60px;
  }
  .mob-ml-80 {
    margin-left: 80px;
  }
  .mob-ml-100 {
    margin-left: 100px;
  }
  .mob-ml-120 {
    margin-left: 120px;
  }
  .mob-ml-140 {
    margin-left: 140px;
  }
  .mob-ml-160 {
    margin-left: 160px;
  }
  .mob-ml-180 {
    margin-left: 180px;
  }
  .mob-ml-200 {
    margin-left: 200px;
  }
  /* padding-top */
  .mob-pt-0 {
    padding-top: 0px;
  }
  .mob-pt-20 {
    padding-top: 20px;
  }
  .mob-pt-40 {
    padding-top: 40px;
  }
  .mob-pt-60 {
    padding-top: 60px;
  }
  .mob-pt-80 {
    padding-top: 80px;
  }
  .mob-pt-100 {
    padding-top: 100px;
  }
  .mob-pt-120 {
    padding-top: 120px;
  }
  .mob-pt-140 {
    padding-top: 140px;
  }
  .mob-pt-160 {
    padding-top: 160px;
  }
  .mob-pt-180 {
    padding-top: 180px;
  }
  .mob-pt-200 {
    padding-top: 200px;
  }
  /* padding-right */
  .mob-pr-0 {
    padding-right: 0px;
  }
  .mob-pr-20 {
    padding-right: 20px;
  }
  .mob-pr-40 {
    padding-right: 40px;
  }
  .mob-pr-60 {
    padding-right: 60px;
  }
  .mob-pr-80 {
    padding-right: 80px;
  }
  .mob-pr-100 {
    padding-right: 100px;
  }
  .mob-pr-120 {
    padding-right: 120px;
  }
  .mob-pr-140 {
    padding-right: 140px;
  }
  .mob-pr-160 {
    padding-right: 160px;
  }
  .mob-pr-180 {
    padding-right: 180px;
  }
  .mob-pr-200 {
    padding-right: 200px;
  }
  /* padding-bottom */
  .mob-pb-0 {
    padding-bottom: 0px;
  }
  .mob-pb-20 {
    padding-bottom: 20px;
  }
  .mob-pb-40 {
    padding-bottom: 40px;
  }
  .mob-pb-60 {
    padding-bottom: 60px;
  }
  .mob-pb-80 {
    padding-bottom: 80px;
  }
  .mob-pb-100 {
    padding-bottom: 100px;
  }
  .mob-pb-120 {
    padding-bottom: 120px;
  }
  .mob-pb-140 {
    padding-bottom: 140px;
  }
  .mob-pb-160 {
    padding-bottom: 160px;
  }
  .mob-pb-180 {
    padding-bottom: 180px;
  }
  .mob-pb-200 {
    padding-bottom: 200px;
  }
  /* padding-left */
  .mob-pl-0 {
    padding-left: 0px;
  }
  .mob-pl-20 {
    padding-left: 20px;
  }
  .mob-pl-40 {
    padding-left: 40px;
  }
  .mob-pl-60 {
    padding-left: 60px;
  }
  .mob-pl-80 {
    padding-left: 80px;
  }
  .mob-pl-100 {
    padding-left: 100px;
  }
  .mob-pl-120 {
    padding-left: 120px;
  }
  .mob-pl-140 {
    padding-left: 140px;
  }
  .mob-pl-160 {
    padding-left: 160px;
  }
  .mob-pl-180 {
    padding-left: 180px;
  }
  .mob-pl-200 {
    padding-left: 200px;
  }
    /* margin-x */
  .mob-mx-0 {
    margin-left: 0px;
    margin-right: 0px;
  }
  .mob-mx-20 {
    margin-left: 20px;
    margin-right: 20px;
  }
  .mob-mx-40 {
    margin-left: 40px;
    margin-right: 40px;
  }
  .mob-mx-60 {
    margin-left: 60px;
    margin-right: 60px;
  }
  .mob-mx-80 {
    margin-left: 80px;
    margin-right: 80px;
  }
  .mob-mx-100 {
    margin-left: 100px;
    margin-right: 100px;
  }
  .mob-mx-120 {
    margin-left: 120px;
    margin-right: 120px;
  }
  .mob-mx-140 {
    margin-left: 140px;
    margin-right: 140px;
  }
  .mob-mx-160 {
    margin-left: 160px;
    margin-right: 160px;
  }
  .mob-mx-180 {
    margin-left: 180px;
    margin-right: 180px;
  }
  .mob-mx-200 {
    margin-left: 200px;
    margin-right: 200px;
  }
  /* margin-y */
  .mob-my-0 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .mob-my-20 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .mob-my-40 {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .mob-my-60 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .mob-my-80 {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .mob-my-100 {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .mob-my-120 {
    margin-top: 120px;
    margin-bottom: 120px;
  }
  .mob-my-140 {
    margin-top: 140px;
    margin-bottom: 140px;
  }
  .mob-my-160 {
    margin-top: 160px;
    margin-bottom: 160px;
  }
  .mob-my-180 {
    margin-top: 180px;
    margin-bottom: 180px;
  }
  .mob-my-200 {
    margin-top: 200px;
    margin-bottom: 200px;
  }
  /* padding-x */
  .mob-px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .mob-px-20 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .mob-px-40 {
    padding-left: 40px;
    padding-right: 40px;
  }
  .mob-px-60 {
    padding-left: 60px;
    padding-right: 60px;
  }
  .mob-px-80 {
    padding-left: 80px;
    padding-right: 80px;
  }
  .mob-px-100 {
    padding-left: 100px;
    padding-right: 100px;
  }
  .mob-px-120 {
    padding-left: 120px;
    padding-right: 120px;
  }
  .mob-px-140 {
    padding-left: 140px;
    padding-right: 140px;
  }
  .mob-px-160 {
    padding-left: 160px;
    padding-right: 160px;
  }
  .mob-px-180 {
    padding-left: 180px;
    padding-right: 180px;
  }
  .mob-px-200 {
    padding-left: 200px;
    padding-right: 200px;
  }
  /* padding-y */
  .mob-py-0 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .mob-py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .mob-py-40 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .mob-py-60 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .mob-py-80 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .mob-py-100 {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .mob-py-120 {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .mob-py-140 {
    padding-top: 140px;
    padding-bottom: 140px;
  }
  .mob-py-160 {
    padding-top: 160px;
    padding-bottom: 160px;
  }
  .mob-py-180 {
    padding-top: 180px;
    padding-bottom: 180px;
  }
  .mob-py-200 {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}